<!DOCTYPE html>
<html lang="es-pe">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Oracon</title>


    <!--agregando Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaldi&display=swap" rel="stylesheet">


</head>

<body class="site-wrapper">
    

    <div class="site-wrapper" style="position: relative;">
        <main role="main" class="pb-3">
            <br /><br /><br />
            <br />
            @RenderBody()

            <style>
                * {
                    font-family: 'Bebas Neue', cursive;
                }

            </style>

        </main>
    </div>
    

    @RenderSection("Scripts", required: false)
    <br /><br /><br /><br /><br />
    <footer class="text-lg-start fixed-bottom bg-light text-muted" style="padding:20px;">
        <div class="row">
            <hr />
            <div class="col-lg-5">
                <a target="_blank" href="https://www.facebook.com/AsesoriaEmpresarialOracon">
                    <img src="~/images/18-184179_free-facebook-icon-png-vector-fb-icon-black.png" height="25px" width="15px" alt="logofb" />
                </a>

                &nbsp;
                <a target="_blank" href="https://www.youtube.com/channel/UCg9BYxEe8ft9H7IOspIhccw">
                    <img src="~/images/640px-YouTube_dark_icon_(2017).svg.png" height="25px" width="40px" alt="youtube" />
                </a>

                <a target="_blank" href="https://pe.linkedin.com/in/jhener-tejada-cerdán-9a63bb173">
                    <img src="~/images/black-linkedin-icon.png" height="45px" width="45px" alt="linkedin" />
                </a>

            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-5 text-right">
                Copyright © ORACON
                <br />
                Desarrollado por Miguel Fernando Aliaga Chacón
            </div>
        </div>
    </footer>

</body>



</html>
