
@{
    ViewData["Title"] = "CreateModulo";
}


<nav class="navbar  fixed-top navbar-expand navbar-dark row" style="background-color: black; box-sizing: content-box;">
    <div class="collapse navbar-collapse">

        <div class="col-lg-2" style="text-align:center">
            <a href="/Profesor/Index" class="nav-item active">
                <img src="~/images/logo blanco.png" alt="Logo ORACON" width="80px" height="65px" />
            </a>

        </div>
        <div class="col-lg-5" style="text-align:center">

            <div class="row">
                <div class="col-lg-3">
                    <a href="/Profesor/Index" style="color:white">CURSOS</a>

                </div>
                <div class="col-lg-3" style="text-align:center">

                </div>
                <div class="col-lg-3" style="text-align:center">

                </div>

            </div>
        </div>

        <div class="col-lg-5">
            <div class="row ">
                <div class="col-lg-7" style="color: white; align-items: center; align-content: center; text-align: center">
                    <label style="padding:0.2em; margin:0.2em;">Bienvenido, @ViewBag.ProfesorLogeado.nombres</label>
                </div>

                <div class="col-lg-5">
                    <form method="post" action="/Profesor/Logout">
                        <button class="btn" type="submit" style="color: white; background-color: #ff2f00;">CERRAR SESÍON</button>
                    </form>
                </div>

            </div>

        </div>


    </div>
</nav>



<h1 class="display-4" style="text-align:center;">Agregar modulo</h1>
<br />
<div class="container">
    <form action="/Profesor/CreateModulo" method="post">
        <input hidden value="@ViewBag.IdCurso" name="idCurso" />
        <label class="form-label">Titulo: </label>
        <input class="form-control" type="text" name="titulo" placeholder="Ej: Este es un titulo." />
        <br />
        <label class="form-label">Descripcion: </label>
        <textarea class="form-control" type="text" name="descripcion" placeholder="Ej: En este modulo desarrollaras tus capacidades cognitivas."></textarea>

        <br /><br />
        <div style="align-content:center; align-items:center; text-align:center;">
            <button class="btn" style="background-color:#ff2f00; color:white;" type="submit">Crear</button>
            <a style="color:#ff2f00;" href="/Profesor/VerCurso?idCurso=@ViewBag.IdCurso">Cancelar</a>
        </div>

    </form>
</div>
